{% extends "djbootstrap/base.html" %}
{% load djbootstrap %}

{% block title %}Сладкий мир цветов{% endblock %}
{% block jquery_url %}//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js{% endblock %}

{% block extrahead %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Сладкий мир цветов</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    </ul>
                        <span class="navbar-text pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong></b>+7 (926) 128-2261</strong></a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a tabindex="-1" href="callto:+7-926-128-2261">
                                        <img src="/static/ico/phone.ico" />
                                        &nbsp;+7 (926) 128-2261
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="callto:+7-701-214-1899">
                                        <img src="/static/ico/phone.ico" />
                                        &nbsp;+7 (701) 214-1899
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="mailto:valentina.vilgelm@gmail.com">
                                        <img src="/static/ico/gmail.ico" />
                                        &nbsp;Gmail
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="https://www.facebook.com/valentina.vilgelm">
                                        <img src="https://www.facebook.com/favicon.ico" />
                                        &nbsp;Facebook
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="https://www.odnoklassniki.ru/profile/488126364676">
                                        <img src="https://www.odnoklassniki.ru/favicon.ico" />
                                        &nbsp;Одноклассники
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="https://www.vk.com/valentina.vilgelm">
                                        <img src="https://www.vk.com/favicon.ico" />
                                        &nbsp;ВКонтакте
                                    </a>
                                </li>
                            </ul>
                        </span>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <script type="text/javascript">stLight.options({publisher: "ab7880d3-1842-45e7-9066-2178bc984cd1", doNotHash: true, doNotCopy: true, hashAddressBar: true});</script>
    <script>
        var options={ "publisher": "ab7880d3-1842-45e7-9066-2178bc984cd1", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "vkontakte", "googleplus", "mail_ru", "odnoklassniki", "email", "evernote", "twitter", "livejournal", "sharethis"]}};
        var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>
    <div class="container" style="margin-top:60px">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}