{% extends "base.html" %}
{% load djbootstrap %}

{% block content %}
    {% for bouquet in bouquets %}
        <div id="{{ bouquet.name }}-{{ bouquet.id }}" class="container-fluid">
            <div class="row-fluid">
                <div class="span6" style="text-align: center;">
                    {% include "elems/photos.html" %}
                </div>
                <div class="span6">
                    <a href="/order/{{ bouquet.id }}/" target="_blank" class="btn btn-large btn-primary">Заказать</a>
                    <a href="#{{ bouquet.name }}-{{ bouquet.id }}"><h2>{{ bouquet.name }}</h2></a>
                    <h3>{{ bouquet.cost }} р.</h3>
                    <pre>{{ bouquet.note }}</pre>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
