<li>
    <a href="callto:+7-926-128-2261">
        <img src="/static/ico/phone.ico" />
        &nbsp;+7 (926) 128-2261
    </a>
</li>
<li>
    <a href="callto:+7-701-214-1899">
        <img src="/static/ico/phone.ico" />
        &nbsp;+7 (701) 214-1899
    </a>
</li>
<li>
    <a href="mailto:valentina.vilgelm@gmail.com">
        <img src="/static/ico/gmail.ico" />
        &nbsp;Gmail
    </a>
</li>
<li>
    <a href="https://www.facebook.com/valentina.vilgelm">
        <img src="https://www.facebook.com/favicon.ico" />
        &nbsp;Facebook
    </a>
</li>
<li>
    <a href="https://www.odnoklassniki.ru/profile/488126364676">
        <img src="https://www.odnoklassniki.ru/favicon.ico" />
        &nbsp;Одноклассники
    </a>
</li>
<li>
    <a href="https://www.vk.com/valentina.vilgelm">
        <img src="https://www.vk.com/favicon.ico" />
        &nbsp;ВКонтакте
    </a>
</li>
