-e git+git://github.com/sdfsdhgjkbmnmxc/django-bootstrap.git#egg=djbootstrap
django
flup
pep8
pil
django-imagekit
-e git+git://github.com/daviddrysdale/python-phonenumbers#egg=phonenumbers
django-phonenumber-field
uwsgi
